@page
@{
    ViewData["Title"] = "Home page";

}

<div>
    <form asp-controller="Auth" asp-action="Login">

        <div>
            Relaystate Url:
            <input type="text" id="returnUrl" name="returnUrl" value="" style="width: 500px" />
        
            <button class="btn btn-primary btn-success btn-xl" type="submit">Send</button>

        </div>

    </form>
</div>